USE [master]
GO
/****** Object:  Database [FVMI]    Script Date: 15-Aug-24 04:46:43 PM ******/
CREATE DATABASE [FVMI]
GO
USE [FVMI]
GO
/****** Object:  Table [dbo].[Tbl_Model]    Script Date: 15-Aug-24 04:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Model](
	[Model] [nvarchar](128) NOT NULL,
	[CameraPoint] [int] NOT NULL,
	[isUV] [tinyint] NOT NULL DEFAULT (0),
 CONSTRAINT [PK_Tbl_Model] PRIMARY KEY CLUSTERED 
(
	[Model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_ModelDetail]    Script Date: 15-Aug-24 04:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_ModelDetail](
	[Model] [nvarchar](128) NOT NULL,
	[Image] [nvarchar](1024) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[CameraExecution] [int] NOT NULL,
	[Area] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Tbl_ModelDetail] PRIMARY KEY CLUSTERED 
(
	[Model] ASC,
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_ModelRecord]    Script Date: 15-Aug-24 04:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_ModelRecord](
	[Model] [nvarchar](128) NOT NULL,
	[Area] [nvarchar](128) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[ActualImage] [nvarchar](1024) NOT NULL,
	[DateRecord] [datetime] NOT NULL,
	[Judgement] [nvarchar](48) NOT NULL,
	[Reason] [nvarchar](1024) NULL,
	[Serial] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Tbl_ModelRecord] PRIMARY KEY CLUSTERED 
(
	[Model] ASC,
	[Area] ASC,
	[Type] ASC,
	[Serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_ModelDetail]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_ModelDetail_Tbl_Model] FOREIGN KEY([Model])
REFERENCES [dbo].[Tbl_Model] ([Model])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_ModelDetail] CHECK CONSTRAINT [FK_Tbl_ModelDetail_Tbl_Model]
GO
USE [master]
GO
